<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Company - About Us</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/about-us.css">
    <link rel="stylesheet" href="/animation/animation.css">
</head>
<body>
    
    <nav class="menu">
        <div class="logo">
        </div>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
        <div class="nav-links" id="navLinks">
            <a href="/index.html">Home</a>
            <a href="layout/about-us.html">About</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>
<br>
    <div class="title-hero fadeupin">
        <li>Information</li>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt odio eu magna tristique gravida et in quam. Morbi et arcu sed nisl facilisis commodo at eu libero. In erat mi, varius condimentum felis eleifend, mattis semper leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque pretium vehicula.</p>
        <br>
    </div>
<br>
    <div class="ceo-hero">
        <div class="ceo-bg fadeinleft">
        <div class="ceo-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/800px-LEGO_logo.svg.png" alt="">
        </div>
        <div class="ceo-text">
            <h1>Ceo - Company</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt odio eu magna tristique gravida et in quam. Morbi et arcu sed nisl facilisis commodo at eu libero. In erat mi, varius condimentum felis eleifend, mattis semper leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque pretium vehicula.</p>
        </div>
    </div>

    <div class="ceo-bg fadeinright-two">
        <div class="ceo-image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/800px-LEGO_logo.svg.png" alt="">
        </div>
        <div class="ceo-text">
            <h1>Management Contract</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt odio eu magna tristique gravida et in quam. Morbi et arcu sed nisl facilisis commodo at eu libero. In erat mi, varius condimentum felis eleifend, mattis semper leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque pretium vehicula.</p>
        </div>
    </div>
</div>
<br><br>
<div class="ceo-hero fadeinleft-two">
    <div class="ceo-bg">
    <div class="ceo-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/800px-LEGO_logo.svg.png" alt="">
    </div>
    <div class="ceo-text">
        <h1>Leader Team Company</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt odio eu magna tristique gravida et in quam. Morbi et arcu sed nisl facilisis commodo at eu libero. In erat mi, varius condimentum felis eleifend, mattis semper leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque pretium vehicula.</p>
    </div>
</div>

<div class="ceo-bg fadeinright-three">
    <div class="ceo-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/800px-LEGO_logo.svg.png" alt="">
    </div>
    <div class="ceo-text">
        <h1>Leader Of Marketplace Company</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt odio eu magna tristique gravida et in quam. Morbi et arcu sed nisl facilisis commodo at eu libero. In erat mi, varius condimentum felis eleifend, mattis semper leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque pretium vehicula.</p>
    </div>
</div>
</div>

    <script src="/js/script.js"></script>
</body>
</html>